In [59]:
#Read the csv file
import pandas as pd
df = pd.read_csv('ibb_planungsraeume.csv')
df

,district_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year
0,1100101,Stülerstraße,22.81,20,22.33,2024
1,1100102,Großer Tiergarten,21.99,45,21.62,2024
2,1100103,Lützowstraße,21.56,57,21,2024
3,1100104,Körnerstraße,22.96,39,22.68,2024
4,1100205,Wilhelmstraße,24.24,84,23.83,2024
...,...,...,...,...,...,...
7041,12601032,Rollbergesiedlung,4.65,164,4.83,2012
7042,12601133,Treuenbrietzener Straße,5.65,136,5.6,2012
7043,12601134,Märkisches Zentrum,5.42,75,5.54,2012
7044,12601235,Dannenwalder Weg,5.32,137,5.39,2012
7045,12601236,Schorfheidestraße,6,24,5.92,2012

In [60]:
# Take first 2 digits,discarding rest 6 digits
df['district_id'] = df['district_id'].astype(str).str[:-6]
df

,district_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year
0,1,Stülerstraße,22.81,20,22.33,2024
1,1,Großer Tiergarten,21.99,45,21.62,2024
2,1,Lützowstraße,21.56,57,21,2024
3,1,Körnerstraße,22.96,39,22.68,2024
4,1,Wilhelmstraße,24.24,84,23.83,2024
...,...,...,...,...,...,...
7041,12,Rollbergesiedlung,4.65,164,4.83,2012
7042,12,Treuenbrietzener Straße,5.65,136,5.6,2012
7043,12,Märkisches Zentrum,5.42,75,5.54,2012
7044,12,Dannenwalder Weg,5.32,137,5.39,2012
7045,12,Schorfheidestraße,6,24,5.92,2012

In [61]:
# Renaming the column
df.rename(columns={'district_id':'neighborhood_id'}, inplace=True)
df

,neighborhood_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year
0,1,Stülerstraße,22.81,20,22.33,2024
1,1,Großer Tiergarten,21.99,45,21.62,2024
2,1,Lützowstraße,21.56,57,21,2024
3,1,Körnerstraße,22.96,39,22.68,2024
4,1,Wilhelmstraße,24.24,84,23.83,2024
...,...,...,...,...,...,...
7041,12,Rollbergesiedlung,4.65,164,4.83,2012
7042,12,Treuenbrietzener Straße,5.65,136,5.6,2012
7043,12,Märkisches Zentrum,5.42,75,5.54,2012
7044,12,Dannenwalder Weg,5.32,137,5.39,2012
7045,12,Schorfheidestraße,6,24,5.92,2012

In [63]:
#Replacing kein daten with 0
df[["median_net_rent", "number_of_cases","mean_net_rent"]] = df[["median_net_rent", "number_of_cases","mean_net_rent"]].replace({
    "keine Daten": 0
})
df

,neighborhood_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year
0,1,Stülerstraße,22.81,20,22.33,2024
1,1,Großer Tiergarten,21.99,45,21.62,2024
2,1,Lützowstraße,21.56,57,21,2024
3,1,Körnerstraße,22.96,39,22.68,2024
4,1,Wilhelmstraße,24.24,84,23.83,2024
...,...,...,...,...,...,...
7041,12,Rollbergesiedlung,4.65,164,4.83,2012
7042,12,Treuenbrietzener Straße,5.65,136,5.6,2012
7043,12,Märkisches Zentrum,5.42,75,5.54,2012
7044,12,Dannenwalder Weg,5.32,137,5.39,2012
7045,12,Schorfheidestraße,6,24,5.92,2012

In [68]:
#Writing to csv file
df.to_csv('ibb_planungsraeume.csv', index=False)
df

,neighborhood_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year
0,1,Stülerstraße,22.81,20,22.33,2024
1,1,Großer Tiergarten,21.99,45,21.62,2024
2,1,Lützowstraße,21.56,57,21,2024
3,1,Körnerstraße,22.96,39,22.68,2024
4,1,Wilhelmstraße,24.24,84,23.83,2024
...,...,...,...,...,...,...
7041,12,Rollbergesiedlung,4.65,164,4.83,2012
7042,12,Treuenbrietzener Straße,5.65,136,5.6,2012
7043,12,Märkisches Zentrum,5.42,75,5.54,2012
7044,12,Dannenwalder Weg,5.32,137,5.39,2012
7045,12,Schorfheidestraße,6,24,5.92,2012